In [ ]:
message = "hashir"
print("Hashir" + message)

In [ ]:
type(message)

In [ ]:
len(message)

In [ ]:
first_name = "Hashir"
last_name = "Siddiqui"
name = True

In [ ]:
space = " 'hashir ' &nbsp;"
triple_qoute = '''Hashir\nSiddiqui\n41594'''
print(space,triple_qoute)

In [ ]:
roll = 41594
dob = '25 nov 1997'
admit_card = f'''
First name : {first_name} \n
Last name : {last_name} \n
Roll # {roll} \n
DoB : {dob}
'''

In [ ]:
print(admit_card)

# Class 3

In [ ]:
print(first_name.title())

In [ ]:
print(first_name.upper())

In [ ]:
print(first_name.lower())


## strip, rstrip and lstrip (right and left trip)

In [ ]:
password = "   12345  "
print(password)

In [ ]:
print(password.rstrip())

In [ ]:
print(password.strip())

## Operators and operations

In [ ]:
print(first_name*3)

In [ ]:
print('1' + 1)

In [ ]:
print('1' + '1')

In [ ]:
print(2.3 + 1)

In [ ]:
print(1.1 * 4)

In [ ]:
x = [1,2,3,4,5]
y = [1,2,3,4,5]
print(x+y)

In [ ]:
print(10 in x)
print(10 not in x)
print(2 in x)
print(2 not in x)

In [ ]:
int_numb = 1
int_numb = 11/4
int_numb

In [ ]:
{1,2} + {2,4}

In [ ]:
{1,2,3,4,5} - {1,3,5,7}

In [ ]:
["a"] *3

In [ ]:
'A' **2

# Class 4
## Comparision (Relational ) Operators
### == > < >= <= !=

In [ ]:
2==2

In [ ]:
'a' == "A"

In [ ]:
2<=2

In [ ]:
2 == 2.0

In [ ]:
'a' > 'A'

In [ ]:
ord('a')

In [ ]:
ord('A')

In [ ]:
chr(66)


## Assigning operator
### = += -= *= /= //=

In [ ]:
x = 1

In [ ]:
x +=2

In [ ]:
xy = not(True)

In [ ]:
print(xy)

In [ ]:
135-128

In [ ]:
1+2+4+8+16+32+64+128+256

In [ ]:
25 & 24

In [ ]:
44 & 5

In [ ]:
254 or 55

# Class 5
## Equations (PEMDAS = () ** * / + -)

In [ ]:
cal = 4+8-7*(5**2)/3*2+7
cal

In [ ]:
cal = 4+8-175*2/3+7
cal

## Control Flow

In [ ]:
x = 1; y=2
if x==y:
    print(x , y)
elif x>y:
    print(y)
else:
    print(x)

In [ ]:
x = 2; y=5
if x==y:
 print("Pakitsan")
elif x>y:
    for i in range(y):
        print('Pakistan')
else:
    for i in range(y):
        print('Pakistan')

In [ ]:
Print = "12345"
print(Print)

In [ ]:
name = 123
name

In [ ]:
print(name)

In [ ]:
#all items in the list must be same attribute eg name of students, reg no. of cars etc
#       0 1 2 3 4
List = [1,2,3,4,5]
#      -5-4-3-2-1
print(List[-3])
print(List[3])

In [ ]:
print(List[-4:])

In [ ]:
List.append(6)
List.append(7)
print(List)

In [ ]:
l2 = [8,9,10]
List.append(l2)
print(List)

In [ ]:
A= 1
B = A
print(A,B)

In [ ]:
A = 2
print(A,B)

## Shallow Copy vs Deep Copy

In [ ]:
list1 = [1,2,3,4,5]
list2 = list1 #shallow copy
list1[0]=0
print(list1,list2)

In [ ]:
list3 = list1.copy()
list1[0] = 1
print(list3,list1)

In [ ]:
0 in list1

In [ ]:
list1.append(0)

In [ ]:
print(list1 + list2)

In [ ]:
list1.extend(list3)
list1

In [ ]:
list2

In [ ]:
list1.index(0)

In [ ]:
list1.count(0)

In [ ]:
indexes= []
for i in range(len(list1)):
    if list1[i] == 0:
        indexes.append(i)
print(indexes)

In [ ]:
list1[list1.index(0)]

In [ ]:
print(list1)
list1.insert(0,0)
list1

In [ ]:
list1.pop()

In [ ]:
list1

In [ ]:
list1.remove(2)
list1

In [ ]:
list1.pop(3)
list1

In [ ]:
list1.reverse()
list1

In [ ]:
list1.sort()
list1

In [ ]:
list1.__class__

# Class 6
## Tuple

In [ ]:
# Muteable  = can change
# Immuteable = can not change
# tuple is immuteable

l6 = [1,2,3,4,5]
l6[0] = 0
l6

In [ ]:
l7 = (1,1,2,3,4,5)
l7[0] = 0
l7

In [ ]:
l6.append(1)
l6

## Loop

In [ ]:
'A ' * 10

In [ ]:
counter = 0
while counter < 10:
    print(counter)
    counter+= 1
counter

In [ ]:
#counter=0 
for counter in range(0,10,2):
    print(counter)

In [ ]:
for counter in range(10,0,-2):
    print(counter)

In [ ]:
print(l6)
for i in l6:
    print(i)

In [ ]:
users = [[1,"Hashir",12345],
       [2,"Hamza",3456]]
name = input("Enter username")
password = int(input("Enter password"))

validUser= False
for i in users:
    if(name == i[1] and password == i[2] ):
        validUser = True
        break
            
if (validUser == True):
    print("Valid User")
else:
    print("Invalid User")

## Dictionary

In [ ]:
dict1 = {'user1': {'id':0 , 'name': 'Hashir'}, 'user2': {'id': 1 , 'name':"Hamza" }}
dict1

In [ ]:
dict1['user1']['ph'] = 12345

In [ ]:
dict1

In [ ]:
a6 = input("Enter Keys").split(',')
d2 = dict.fromkeys(a6,None)
print(d2)

In [ ]:
id6 = [1,2,3]
name6 = ['Ali',"Ahmed",'Hamza']
marks6 = [2,3,3]
db = zip(id6,name6,marks6)
list(db)

# Class 7

In [ ]:
dict1 = {'user1': {'id':0 , 'name': 'Hashir'}, 'user2': {'id': 1 , 'name':"Hamza" }}
dict1

In [ ]:
print(dict1.get("user1"))

In [ ]:
lot0 = [(1,2,3),(4,5,6),(7,8,9)]
lot0[-1]

In [ ]:
def abc(x):
    return x[1]
abc(lot0)

In [ ]:
sorted(lot0, key=abc,reverse=True)

In [ ]:
srt = [ {'id':1,'name':'x'},{'id':2,'name':'x'},{'id':3,'name':'x'},{'id':4,'name':'x'}]
def xyz(x):
    return x['id']

sorted(srt , key=xyz, reverse=True)

In [ ]:
srt

In [ ]:
# parameter vs argument

In [ ]:
len("ops")

In [ ]:
def idcard(sid,name,course,timing):
    print(f"""
    My id card
    Id : {sid}
    Name : {name}
    Course : {course}
    Timing : {timing}
    
    """)
idcard(1,"Hashir","Ai","8:00-11:00")

In [ ]:

def aa(x=0,y=0):
    print(x,y)
    return 1,2,3,4,5,'a'
print(aa(2,3))

In [ ]:
l6 = [1,2,3,4]
print(l6)
print(*l6)

In [ ]:
def idcard(sid,name,course,timing):
    print(f"""
    My id card
    Id : {sid}
    Name : {name}
    Course : {course}
    Timing : {timing}
    
    """)
inval = {"sid" : '1',"name" : 'Hashir', 'course' : 'AI', 'timing' : '9-11'}
idcard(**inval)
idcard(*l6)

# Class 8

In [ ]:
def abc():
    for i in range(1,10):
        if(i== 2):
            return "i == 2"
        elif(i==4):
            return "i == 4"
    return "Outside of for"
        
print(abc())

In [ ]:
def add(*x):
    print(x[::-2])
    print(sum(x))

add(1,2,3,4,5,6,7,8,9,9,1,2,3,4,)

In [ ]:
def demo(*x,name):
    print(name)
    print(sum(x))
demo(1,2,3,4,6,7,name="hashir")

In [ ]:
def demo1(name,*x,number):
    print(name)
    print(x)
    print(number)
demo1(name="hashir",number=1)

In [ ]:
def demo2(name,**kv):
    print(name)
    print(kv)
demo2('hashir',a=1,b=2,c=3)

In [ ]:
for i in range(1,2000):
    if i % 500 == 0:
        print(i)

In [ ]:
def my_range(n):
    for i in range(1,n+1):
        yield i
a = my_range(10)
for i in range(10):
    print(next(a))

## lambda function

In [ ]:
abc = lambda x,y,z : x+y+z
abc(1,2,3)

# Class 9 
## OOP

In [ ]:
# 4 pillers of OOP
# Encapsulation , Abstraction, Inheritance, Polymorphism
# Classes have attributes and methods

In [ ]:
#Inheritance : Methods and attributes which comes from parent class
#Polymorphism : If any method of a class perform more than one behavior it is called polymorphism
#Encapsulation : Making variables and methods private
#Abstraction : Classes whose object can not be made directly without implementing its functions
# Makinf First letter of a class name capital is a standard in python

In [ ]:
class Student():
    pass
#pass keyword allows to make empty functions and classes wiithout error
# __init__ is a constructor in python.

In [13]:
class Student():
    counter = 0 # class variable
    def __init__(self,name):
        self.sid = Student.counter + 1
        self.name = name
        self.age = 0
        self.fname= ""
        Student.counter +=1
    def login(self,user,password):
        self.name = user
        print("welcome" , self.name)

In [23]:
S1 = Student("hashir")

In [24]:
S1.login("hashir",1234)

welcome hashir

In [25]:
S1.counter

4

In [26]:
S2 = Student("Hamza")

In [27]:
S2.counter

5

# Class 10
## Inheritance

In [6]:
class Parent():
    def __init__(self):
        self.id = 0
        self.name = ""
        self.dob = ""
        
    def speak(self,words):
        print("Saying:" ,words)
    
    def eat(self,food):
        print("Eating" , food)

class child(Parent):
    
    def eat(self,foodafasf
        print("Having",food)

obj_child = child()

In [7]:
obj_child.eat("Biryani")

Having Biryani

In [8]:
# to declare variables or methids private add __ before name of variabl of class

# class 12
## Filing

In [4]:
a = open("abc1.txt")
#print(type(a))
a.readlines()
a.close()

# class 13