In [6]:
message = "hashir"
print("Hashir" + message)

Hashirhashir

In [12]:
type(message)

str

In [11]:
len(message)

6

In [9]:
first_name = "Hashir"
last_name = "Siddiqui"
name = True

In [10]:
space = " 'hashir ' &nbsp;"
triple_qoute = '''Hashir\nSiddiqui\n41594'''
print(space,triple_qoute)

 'hashir ' &nbsp; Hashir
Siddiqui
41594

In [11]:
roll = 41594
dob = '25 nov 1997'
admit_card = f'''
First name : {first_name} \n
Last name : {last_name} \n
Roll # {roll} \n
DoB : {dob}
'''

In [12]:
print(admit_card)

First name : Hashir

Last name : Siddiqui

Roll # 41594

DoB : 25 nov 1997

# Class 3

In [14]:
print(first_name.title())

Hashir

In [15]:
print(first_name.upper())

HASHIR

In [16]:
print(first_name.lower())

hashir


## strip, rstrip and lstrip (right and left trip)

In [22]:
password = "   12345  "
print(password)

   12345

In [24]:
print(password.rstrip())

   12345

In [23]:
print(password.strip())

12345

## Operators and operations

In [26]:
print(first_name*3)

HashirHashirHashir

In [27]:
print('1' + 1)

TypeError: can only concatenate str (not "int") to str

In [28]:
print('1' + '1')

11

In [29]:
print(2.3 + 1)

3.3

In [30]:
print(1.1 * 4)

4.4

In [31]:
x = [1,2,3,4,5]
y = [1,2,3,4,5]
print(x+y)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [51]:
print(10 in x)
print(10 not in x)
print(2 in x)
print(2 not in x)

False
True
True
False

In [44]:
int_numb = 1
int_numb = 11/4
int_numb

2.75