In [1]:
message = "hashir"
print("Hashir" + message)

Hashirhashir

In [2]:
type(message)

str

In [3]:
len(message)

6

In [4]:
first_name = "Hashir"
last_name = "Siddiqui"
name = True

In [5]:
space = " 'hashir ' &nbsp;"
triple_qoute = '''Hashir\nSiddiqui\n41594'''
print(space,triple_qoute)

 'hashir ' &nbsp; Hashir
Siddiqui
41594

In [6]:
roll = 41594
dob = '25 nov 1997'
admit_card = f'''
First name : {first_name} \n
Last name : {last_name} \n
Roll # {roll} \n
DoB : {dob}
'''

In [7]:
print(admit_card)

First name : Hashir

Last name : Siddiqui

Roll # 41594

DoB : 25 nov 1997

# Class 3

In [8]:
print(first_name.title())

Hashir

In [9]:
print(first_name.upper())

HASHIR

In [10]:
print(first_name.lower())

hashir


## strip, rstrip and lstrip (right and left trip)

In [11]:
password = "   12345  "
print(password)

   12345

In [12]:
print(password.rstrip())

   12345

In [13]:
print(password.strip())

12345

## Operators and operations

In [14]:
print(first_name*3)

HashirHashirHashir

In [15]:
print('1' + 1)

TypeError: can only concatenate str (not "int") to str

In [ ]:
print('1' + '1')

In [ ]:
print(2.3 + 1)

In [16]:
print(1.1 * 4)

4.4

In [17]:
x = [1,2,3,4,5]
y = [1,2,3,4,5]
print(x+y)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [18]:
print(10 in x)
print(10 not in x)
print(2 in x)
print(2 not in x)

False
True
True
False

In [19]:
int_numb = 1
int_numb = 11/4
int_numb

2.75

In [20]:
{1,2} + {2,4}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [ ]:
{1,2,3,4,5} - {1,3,5,7}

In [ ]:
["a"] *3

In [21]:
'A' **2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

# Class 4
## Comparision (Relational ) Operators
### == > < >= <= !=

In [22]:
2==2

True

In [23]:
'a' == "A"

False

In [24]:
2<=2

True

In [25]:
2 == 2.0

True

In [26]:
'a' > 'A'

True

In [27]:
ord('a')

97

In [28]:
ord('A')

65

In [29]:
chr(66)

'B'


## Assigning operator
### = += -= *= /= //=

In [30]:
x = 1

In [31]:
x +=2

In [32]:
xy = not(True)

In [33]:
print(xy)

False

In [34]:
135-128

7

In [35]:
1+2+4+8+16+32+64+128+256

511

In [36]:
25 & 24

24

In [37]:
44 & 5

4

In [38]:
254 or 55

254

# Class 5
## Equations (PEMDAS = () ** * / + -)

In [4]:
cal = 4+8-7*(5**2)/3*2+7
cal

-97.66666666666667

In [10]:
cal = 4+8-175*2/3+7
cal

-97.66666666666667

## Control Flow

In [12]:
x = 1; y=2
if x==y:
    print(x , y)
elif x>y:
    print(y)
else:
    print(x)

1

In [19]:
x = 2; y=5
if x==y:
 print("Pakitsan")
elif x>y:
    for i in range(y):
        print('Pakistan')
else:
    for i in range(y):
        print('Pakistan')

Pakistan
Pakistan
Pakistan
Pakistan
Pakistan

TypeError: 'int' object is not callable

In [36]:
Print = "12345"
print(Print)

12345

In [37]:
name = 123
name

123

In [38]:
print(name)

123

In [54]:
#all items in the list must be same attribute eg name of students, reg no. of cars etc
#       0 1 2 3 4
List = [1,2,3,4,5]
#      -5-4-3-2-1
print(List[-3])
print(List[3])

3
4

In [55]:
print(List[-4:])

[2, 3, 4, 5]

In [56]:
List.append(6)
List.append(7)
print(List)

[1, 2, 3, 4, 5, 6, 7]

In [57]:
l2 = [8,9,10]
List.append(l2)
print(List)

[1, 2, 3, 4, 5, 6, 7, [8, 9, 10]]

In [60]:
A= 1
B = A
print(A,B)

1 1

In [61]:
A = 2
print(A,B)

2 1

## Shallow Copy vs Deep Copy

In [86]:
list1 = [1,2,3,4,5]
list2 = list1 #shallow copy
list1[0]=0
print(list1,list2)

[0, 2, 3, 4, 5] [0, 2, 3, 4, 5]

In [87]:
list3 = list1.copy()
list1[0] = 1
print(list3,list1)

[0, 2, 3, 4, 5] [1, 2, 3, 4, 5]

In [88]:
0 in list1

False

In [89]:
list1.append(0)

In [90]:
print(list1 + list2)

[1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0]

In [91]:
list1.extend(list3)
list1

[1, 2, 3, 4, 5, 0, 0, 2, 3, 4, 5]

In [92]:
list2

[1, 2, 3, 4, 5, 0, 0, 2, 3, 4, 5]

In [93]:
list1.index(0)

5

In [94]:
list1.count(0)

2

In [95]:
indexes= []
for i in range(len(list1)):
    if list1[i] == 0:
        indexes.append(i)
print(indexes)

[5, 6]

In [96]:
list1[list1.index(0)]

0

In [97]:
print(list1)
list1.insert(0,0)
list1

[1, 2, 3, 4, 5, 0, 0, 2, 3, 4, 5]

[0, 1, 2, 3, 4, 5, 0, 0, 2, 3, 4, 5]

In [98]:
list1.pop()

5

In [99]:
list1

[0, 1, 2, 3, 4, 5, 0, 0, 2, 3, 4]

In [101]:
list1.remove(2)
list1

[0, 1, 3, 4, 5, 0, 0, 3, 4]

In [103]:
list1.pop(3)
list1

[0, 1, 3, 5, 0, 0, 3, 4]

In [104]:
list1.reverse()
list1

[4, 3, 0, 0, 5, 3, 1, 0]

In [106]:
list1.sort()
list1

[0, 0, 0, 1, 3, 3, 4, 5]

In [108]:
list1.__class__

list

# Class 6
## Tuple

In [4]:
# Muteable  = can change
# Immuteable = can not change
# tuple is immuteable

l6 = [1,2,3,4,5]
l6[0] = 0
l6

[0, 2, 3, 4, 5]

In [5]:
l7 = (1,1,2,3,4,5)
l7[0] = 0
l7

TypeError: 'tuple' object does not support item assignment

In [7]:
l6.append(1)
l6

[0, 2, 3, 4, 5, 1, 1]

## Loop

In [9]:
'A ' * 10

'A A A A A A A A A A '

In [26]:
counter = 0
while counter < 10:
    print(counter)
    counter+= 1
counter

0
1
2
3
4
5
6
7
8
9

10

In [4]:
#counter=0 
for counter in range(0,10,2):
    print(counter)

0
2
4
6
8

In [5]:
for counter in range(10,0,-2):
    print(counter)

10
8
6
4
2

In [31]:
print(l6)
for i in l6:
    print(i)

[0, 2, 3, 4, 5, 1, 1]
0
2
3
4
5
1
1

In [20]:
users = [[1,"Hashir",12345],
       [2,"Hamza",3456]]
name = input("Enter username")
password = int(input("Enter password"))

validUser= False
for i in users:
    if(name == i[1] and password == i[2] ):
        validUser = True
        break
            
if (validUser == True):
    print("Valid User")
else:
    print("Invalid User")

Enter usernameHashir
Enter password12345
Valid User

## Dictionary

In [27]:
dict1 = {'user1': {'id':0 , 'name': 'Hashir'}, 'user2': {'id': 1 , 'name':"Hamza" }}
dict1

{'user1': {'id': 0, 'name': 'Hashir'}, 'user2': {'id': 1, 'name': 'Hamza'}}

In [28]:
dict1['user1']['ph'] = 12345

In [32]:
dict1

{'user1': {'id': 0, 'name': 'Hashir', 'ph': 12345},
 'user2': {'id': 1, 'name': 'Hamza'}}

In [34]:
a6 = input("Enter Keys").split(',')
d2 = dict.fromkeys(a6,None)
print(d2)

Enter Keysname,email,id,password
{'name': None, 'email': None, 'id': None, 'password': None}

In [35]:
id6 = [1,2,3]
name6 = ['Ali',"Ahmed",'Hamza']
marks6 = [2,3,3]
db = zip(id6,name6,marks6)
list(db)

[(1, 'Ali', 2), (2, 'Ahmed', 3), (3, 'Hamza', 3)]

# Class 7

In [3]:
dict1 = {'user1': {'id':0 , 'name': 'Hashir'}, 'user2': {'id': 1 , 'name':"Hamza" }}
dict1

{'user1': {'id': 0, 'name': 'Hashir'}, 'user2': {'id': 1, 'name': 'Hamza'}}

In [24]:
print(dict1.get("user1"))

{'id': 0, 'name': 'Hashir'}

In [25]:
lot0 = [(1,2,3),(4,5,6),(7,8,9)]
lot0[-1]

(7, 8, 9)

In [31]:
def abc(x):
    return x[1]
abc(lot0)

(4, 5, 6)

In [32]:
sorted(lot0, key=abc,reverse=True)

[(7, 8, 9), (4, 5, 6), (1, 2, 3)]

In [33]:
srt = [ {'id':1,'name':'x'},{'id':2,'name':'x'},{'id':3,'name':'x'},{'id':4,'name':'x'}]
def xyz(x):
    return x['id']

sorted(srt , key=xyz, reverse=True)

[{'id': 4, 'name': 'x'},
 {'id': 3, 'name': 'x'},
 {'id': 2, 'name': 'x'},
 {'id': 1, 'name': 'x'}]

In [34]:
srt

[{'id': 1, 'name': 'x'},
 {'id': 2, 'name': 'x'},
 {'id': 3, 'name': 'x'},
 {'id': 4, 'name': 'x'}]

In [36]:
# parameter vs argument

In [40]:
len("ops")

3

In [41]:
def idcard(sid,name,course,timing):
    print(f"""
    My id card
    Id : {sid}
    Name : {name}
    Course : {course}
    Timing : {timing}
    
    """)
idcard(1,"Hashir","Ai","8:00-11:00")

    My id card
    Id : 1
    Name : Hashir
    Course : Ai
    Timing : 8:00-11:00

In [50]:

def aa(x=0,y=0):
    print(x,y)
    return 1,2,3,4,5,'a'
print(aa(2,3))

2 3
(1, 2, 3, 4, 5, 'a')

In [58]:
l6 = [1,2,3,4]
print(l6)
print(*l6)

[1, 2, 3, 4]
1 2 3 4

In [59]:
def idcard(sid,name,course,timing):
    print(f"""
    My id card
    Id : {sid}
    Name : {name}
    Course : {course}
    Timing : {timing}
    
    """)
inval = {"sid" : '1',"name" : 'Hashir', 'course' : 'AI', 'timing' : '9-11'}
idcard(**inval)
idcard(*l6)

    My id card
    Id : 1
    Name : Hashir
    Course : AI
    Timing : 9-11



    My id card
    Id : 1
    Name : 2
    Course : 3
    Timing : 4